# Run the script. If it exits with 0, proceed. If not, jump to the end label.
PROGRAM!="/opt/iot-gate-imx8plus/shell/iotg_id.sh", GOTO="skip_device_rules"

SUBSYSTEM=="net", ACTION=="add", DEVPATH=="/devices/platform/soc@0/30800000.bus/308c0000.can/net/can?", NAME="canC"
SUBSYSTEM=="net", ACTION=="add", DEVPATH=="/devices/platform/soc@0/30800000.bus/308d0000.can/net/can?", NAME="canE"
# 6.6.3
SUBSYSTEM=="net", ACTION=="add", DEVPATH=="/devices/platform/soc@0/30800000.bus/30800000.spba-bus/308c0000.can/net/can?", NAME="canC"
SUBSYSTEM=="net", ACTION=="add", DEVPATH=="/devices/platform/soc@0/30800000.bus/30800000.spba-bus/308d0000.can/net/can?", NAME="canE"

# End label
LABEL="skip_device_rules"
