SUBSYSTEM=="tty", KERNELS=="30860000.serial", DRIVERS=="imx-uart", SYMLINK+="ttyIEA"
SUBSYSTEM=="tty", KERNELS=="30880000.serial", DRIVERS=="imx-uart", SYMLINK+="ttyIEB"
SUBSYSTEM=="tty", KERNELS=="30a60000.serial", DRIVERS=="imx-uart", SYMLINK+="ttyIEC"
