[Unit]
Description=Initialize hostname aliases
After=local-fs.target
Before=multi-user.target
ConditionPathExists=/etc/hostname

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-hosts.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
