[Unit]
Description=Configure IOTDIN-IMX8P Gateway
#Wants=serial-getty@.service
After=serial-getty@.service

[Service]
Type=oneshot
ExecStart=/opt/iotdin-imx8p/shell/gw.sh "config" "1"
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
