SUBSYSTEM=="net", ACTION=="add", DEVPATH=="/devices/platform/soc@0/30800000.bus*/30830000.spi/spi_master/spi?/spi?.0/net/can?", NAME="canIFM_0"
SUBSYSTEM=="net", ACTION=="add", DEVPATH=="/devices/platform/soc@0/30800000.bus*/30830000.spi/spi_master/spi?/spi?.1/net/can?", NAME="canIFM_1"

