[Unit]
Description=Configure IOT-GATE-IMX8PLUS Gateway
After=serial-getty@.service

[Service]
Type=oneshot
ExecStart=/opt/iot-gate-imx8plus/shell/gw.sh "config" "1"
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
